body{
        background-image: url('  action (1).jpg');
		background-repeat: no-repeat;
		background-position:center;
		background-size:cover;
		font-family:Arial, sans-serif, georgia;
		margin:0px;
        padding:0px;
	

     }
h1{color:white;
   font-size:25px;
   text-align:center;
   font-family:time new remon;

   }

table td
{
     font-size: 20px;
	 font-family:time new remon;
	 padding:5px;
	 
}
.bar{
	
	background-color:#E74C3C;
	display:flex;
	justify-content:center;
	width:100%;
	margin-bottom:50px;

	
}
	 

.bar ul li{
    float:left;  
    list-style-type:none;
	font-family:time new remon;
    border-right :1px solid #D0D0D0;
	border-left:1px solid #d0d0d0;
}

.bar li a{
	text-decoration:none;
	font-size:20;
	color:white;
	padding:15px;
			}

.bar ul li a:hover{
				
				color:sorange;				

			} 
button{font-size: 55px;
background-color: #E74C3C;
	color: white; 
padding: 10PX;
	margin-left: 400px;
	margin-top: 100px;
 }
	
img{
	border: solid 5px wheat;
	
	display: inline-block;
	
	margin: 0px 30px  50px   ;}
#dow{background:	#E74C3C ;
	padding-right: 145px;
	padding-bottom: 20px;
	color:  white;
	margin: 500px 0px 0px 0px;
	height: 110px;
display: inline-block}
}